$plexmono: 'IBM Plex Mono', monospace;
$plexsans: 'IBM Plex Sans', sans-serif;
$texto: #060A24;
$point: #0000EC;
$btn: #00F3BB;
$gradient1: #0000FE;
$gradient2: #00F0B8;
$white:  #FFFFFF;
$media: 992px;
$gradient3: #0000FF;
$gradient4: #0000A3;

body {
  font-size: 16px;
}

.nav {
  
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: $plexmono;
    padding: 10px 16px 10px;

    @media only screen and (min-width:$media) {
      padding: 26px 100px;
   }


  }

  &__logo {

    @media only screen and (min-width:$media) {
       min-width: 36px;
    }
  }

  &__list {
    display: flex;
    list-style: none;
  }

  &__item {
    padding-left: 24px;
    padding-right: 24px;
  }

  &__link {
    display: none;
    text-decoration: none;
    color: $texto;

      @media only screen and (min-width:$media) {
      display: flex;
    }
    
  }
}

.header {

  &__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 29px 16px 24px;
    margin:0;

    @media only screen and (min-width:$media) {
      padding: 120px 200px 0px;
   }
  }

  &__title {
    font-family: $plexsans;
    font-size: 36px;
    line-height: 42px;
    color: $texto;
    justify-self: flex-start;
    max-width: 240px;
    font-weight: 450;
    letter-spacing: 0;
    margin:0;
        
    &:after {
      content: '.';

      @media only screen and (min-width:$media) {
        color: $point;          
     }
      
    }
    
    @media only screen and (min-width:$media) {
      font-size: 64px;
      line-height: 84px;
      max-width: initial;   
   }
  
  }

  &__span {

    position: relative;
    letter-spacing: 0;
    
    &:after {
      content:'';
      height: 2px;
      width: 100%;
      background: $texto;
      position: absolute;
      left: 0;
      top: 57%;
      transform: translateY(-57%);

      @media only screen and (min-width:$media) {
        height: 4px;   
     }
      
    }
  }

  &__description {
    font-size: 14px;
    line-height: 22px;
    font-family: $plexmono;
    text-align: justify;
    padding-top: 16px;
    padding-bottom: 36px;
    margin: 0;

    @media only screen and (min-width:$media) {
      font-size: 16px;  
      padding-top: 0;
      padding-bottom: 56px;
      max-width: 610px;
      text-align: justify;
   }

  }

  &__btn {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    background: $btn;
    color: $texto;
    text-decoration: none;
    font-family: $plexmono;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 22px;

    @media only screen and (min-width:$media) {
      max-width: 226px;
      height: 56px;      
   }
  
    &:hover {
      color: $white;
      background: linear-gradient(225deg, $gradient1 0%, $gradient2 100%);
    }
  }

}

.card {

  &__container {
    background: linear-gradient(225deg, $gradient3 0%, $gradient4 100%);
    padding-bottom: 143.5px;
  }

  &__title {
    color: $white;
    font-family: $plexsans;
    font-size: 36px;
    letter-spacing: 0;
    line-height: 42px;
    font-weight: 400;
    margin: 0;
    padding: 64px 0 21px 16px;
  }

  &__audio {
    padding: 5.5px 11px;
  }
}

.image {

  &__container {
    padding: 0 16px 54px;
    transform: translateY(-95px);
    display:flex;
    flex-direction: column;
  }

  &__img {
    max-width: 360px;
    margin: 0 auto;
  }

  &__title {
    font-family: $plexsans;
    font-size: 36px;
    line-height: 42px;
    color: $texto;
    max-width: 240px;
    font-weight: 450;
    letter-spacing: 0;
    margin:0;
  }

  &__description {
    font-size: 14px;
    line-height: 22px;
    font-family: $plexmono;
    text-align: justify;
    padding-top: 16px;
    margin: 0;
  }
}

.invite {

  &__container {
    transform: translateY(-95px);
  }

  &__title {
    font-family: $plexsans;
    font-size: 36px;
    line-height: 42px;
    color: $texto;
    justify-self: flex-start;
    max-width: 240px;
    font-weight: 450;
    letter-spacing: 0;
    margin:0;
    padding-left: 16px;
    padding-bottom: 14px;
  }

  &__image {
    width: 100%;
    display: flex;
  }
}

.team {

  &__container {
    transform: translateY(-95px);
    padding-top: 48px;
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-family: $plexsans;
    font-size: 36px;
    line-height: 42px;
    color: $texto;
    justify-self: flex-start;
    max-width: 288px;
    font-weight: 450;
    letter-spacing: 0;
    margin:0;
    padding-left: 16px;
    padding-bottom: 24px;
  }

  &__box {
    display: flex;
    flex-direction: column;
  }

  &__description {
    font-family: $plexsans;
    font-size: 24px;
    letter-spacing: 0;
    text-align: center;
  }
}
.new {

  &__container {
    transform: translateY(-95px);
    background: linear-gradient(225deg, $gradient3 0%, $gradient4 100%);
    padding-bottom: 67px;
  }

  &__title {
    color: $white;
    font-family: $plexsans;
    font-size: 36px;
    letter-spacing: 0;
    line-height: 42px;
    font-weight: 400;
    margin: 0;
    text-align: center;
    padding: 64px 16px 36px;
  }

  &__btn {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    background: $btn;
    color: $texto;
    text-decoration: none;
    font-family: $plexmono;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 22px;
    margin: 0 16px;
  }
}
.footer {

  &__container {
    transform: translateY(-65px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 47px;
  }

  &__description {
    font-family: $plexmono;
    font-size: 14px;
    color: $texto;
    letter-spacing: 0;
    line-height: 22px;
  }

  &__link {
    color: $texto;
    font-size: 16px;
    line-height: 28px;
  }
 
}

